@font-face {
  font-family: Antro_Vectra;
  src: url("../fonts/Antro_Vectra.otf");
}

@font-face {
  font-family: Antro_Vectra_Bold;
  src: url("../fonts/Antro_Vectra_Bolder.otf");
}


.taylor-section {
  padding-bottom: 120px;
  background-color: #2e3e2b;
}


.taylor-title {
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 50px;
  font-family: 'Antro_Vectra_Bold';
  text-align: center;
  color: white;
  margin-top:100px;
}


.taylor-description {
  width: 900px;
  font-family: "Poppins";
  font-size: 21px;

  color:white;
  padding:20px;
  animation:ease-out;
  transition: 0.5s;
  margin:10px 0px;
}



.sage-initiation {
  width: 1000px;
  font-family: "Poppins";
  font-size: 21px;
  color:#2e3e2b;
  padding:20px;
  animation:ease-out;
  transition: 0.7s;
  color:white;
  margin:10px 0px;
}

.sage-initiation:hover {
  background-color: rgb(246, 246, 245);
  color:#2e3e2b;
  border-radius: 15px;
}

.sage-cedar-description {
  
  width: 800px;
  font-family: "Poppins";
  font-size: 21px;
  color:#2e3e2b;
  padding:15px;
  animation:ease-out;
  transition: 0.5s;
  color:white;
  margin:10px 0px;
}

.sage-cedar-description:hover {
  background-color: rgb(246, 246, 245);
  color:#2e3e2b;
  border-radius: 15px;
}

.more-cedar-description {
  width: 800px;
  font-family: "Poppins";
  color:#52734D;
  font-size: 21px;
  padding: 15px;
  animation:ease-out;
  transition: 0.5s;
  color:white;
  margin:10px 0px;
}

.more-cedar-description:hover {
  background-color: rgb(59, 100, 3);
  color:white;
  border-radius: 15px;
}

.taylor-pic {
  border-radius: 5px;
  height:950px;
  margin-top:100px;

}

.taylor-pic:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0px 0px 10px -5px;
  opacity: 0.5;
  
}

.structure-taylor-page {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
}

@media (max-width: 1440px) {
  .all-descriptions {
    font-size: 15px;
    margin-top:10px;
    
  }

  .taylor-pic {
    height:800px;

  }

  .taylor-description {
    width: 800px;
    font-size: 17px;
    margin-bottom: 0;
  }
  
  .sage-initiation {
    width: 800px;
    font-size: 17px;
    margin-bottom: 0;
  }
  
  .sage-cedar-description {
    width: 800px;
    font-size: 17px;
    margin-bottom: 0;
  }
  
  .more-cedar-description {
    width: 800px;
    font-size: 17px;
    
  }

  .all-descriptions {
    margin-right: 20px;
  }


}




@media (max-width: 1024px){


  .taylor-pic {
    height:500px;
    margin-top: 80px;
    margin-left: 70px; 
  }

  .taylor-description {
    width: 500px;
    margin-bottom: 20px;
    margin-top:10px;
  }
  
  .sage-initiation {
    width: 500px;
    margin-bottom: 20px;
  }
  
  .sage-cedar-description {
    width: 500px;
    margin-bottom: 20px;
  }
  
  .more-cedar-description {
    width: 500px;
    margin-bottom: 20px;
  }
  
}

@media (max-width: 768px){
  .structure-taylor-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.all-descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-right: 0px;
}
.taylor-description {
  width: 700px;
  margin-bottom: 0px;
}

.sage-initiation {
  width: 700px;
  margin-bottom: 0px;
}

.sage-cedar-description {
  width: 700px;
  margin-bottom: 0px;
}

.more-cedar-description {
  width: 700px;
  margin-bottom: 0px;
}

.taylor-title {
  font-size: 80px;
  margin-bottom: 0px;
  margin-top: 50px;
  margin-right:20px;
}

.taylor-pic {
  height:550px;
  margin-top: 50px;
  margin-left: 0px;
  border-radius: 20px;
}

}

@media (max-width: 425px){
  .structure-taylor-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.all-descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taylor-description {
  width: 380px;
  margin-bottom: 20px;
  font-size: 13px;
  margin-top:0px;
}

.sage-initiation {
  width: 380px;
  margin-bottom: 20px;
  font-size: 13px;
}

.sage-cedar-description {
  width: 380px;
  margin-bottom: 20px;
  font-size: 13px;
}

.more-cedar-description {
  width: 380px;
  margin-bottom: 60px;
  font-size: 13px;
}

.taylor-pic {
  height:500px;
  font-size: 15px;
  margin-right: 33px;
  margin-top: 30px;
}
.taylor-title {
  margin-left: 20px;
  font-size: 55px;
  margin-bottom: 0px;
  margin-top: 80px;
  font-size: 50px;
}

}




@media (max-width: 375px){

  .structure-taylor-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.all-descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taylor-description {
  width: 350px;
  font-size: 15px;
  margin-top:10px;
}

.sage-initiation {
  width: 350px;
  margin-bottom: 20px;
  font-size: 15px;
}

.sage-cedar-description {
  width: 350px;
  margin-bottom: 20px;
  font-size: 15px;
}

.more-cedar-description {
  width: 350px;
  margin-bottom: 20px;
  font-size: 15px;
  
}

.taylor-pic {
  height:400px;
  font-size: 15px;
}

.taylor-title {
  margin-left: 0px;
  font-size: 52px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Dancing Script', cursive;
  margin-top: 60px;
}

}

