nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;

}

.right-side-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side-nav li {
  list-style: none;
  padding: 0 20px; 
  position: relative
}

.right-side-nav li a {
  text-decoration: none;
  font-size:  1.3rem;
  font-weight: 600;
  color: white;
  transition: 0.3s ease-in-out;
}

.right-side-nav li a:hover {
  color:greenyellow;
}

.left-side-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
   
}

.navbar-image {
  width: 10%;
}

.navbar-title {
  text-decoration: none;
  font-size:  1.3rem;
  font-weight: 600;
  color: white;
  transition: 0.3s ease-in-out;
  padding-left: 20px;
}